
# Data Detective: Clean the Plants Dataset

You've already looked at this dataset on paper — now it’s time to try out some R commands in code.

We'll work with functions like `filter()`, `mutate()`, `select()`, and `arrange()` to explore and clean the data.

---
Q1: Run the code cell below to load and view the dataset.

In [ ]:

library(tidyverse)

# Load the plants dataset
plants <- read.csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vR-lYQcIdTG9XG-WMNPRhwTZOhc4iY_prAbgFlejAmnxJyjkQQmJkrfLbKORWk4UV6cXN5TBnvfEJdp/pub?output=csv")

# Take a look at the first few rows
head(plants)


---

### Q2: Filter Out Missing Heights

Use `filter()` to remove rows where the plant height is missing.  
Replace the blank below with the correct column name.

In [ ]:

plants_filtered <- plants %>%
  filter(!is.na())

head(plants_filtered)


---

### Q3: Convert Height to Inches

Use `mutate()` to create a new column called `height_in` that converts `height_cm` to inches.  
(1 inch = 2.54 cm)

In [ ]:

plants_filtered <- plants_filtered %>%
  mutate( = )

head(plants_filtered)


---

### Q4: Select Only Key Columns

Use `select()` to view just the plant `name`, `height_in`, and `toxicity_level`.

In [ ]:

plants_filtered %>%
  select()


---

### Q5: Arrange by Height

Use `arrange()` to sort the data from shortest to tallest plants.

In [ ]:

plants_filtered %>%
  arrange()


---

### Q6: Convert 'type_num' from Character to Numeric

The column `type_num` is currently stored as text (character).  
Use `mutate()` to convert it to numeric.

In [ ]:

plants_filtered <- plants_filtered %>%
  mutate( = as.numeric())

str(plants_filtered)