
# Data Detective: Clean the Plants Dataset (Answer Key)

This notebook provides completed code for the data cleaning activity using tidyverse functions.

We use:  
- `filter()` to remove missing height values  
- `mutate()` to convert height from cm to inches  
- `select()` to isolate specific columns  
- `arrange()` to sort by height  
- `mutate()` to convert a character column to numeric

---
**Q1:** Load and inspect the data.

In [ ]:

library(tidyverse)

plants <- read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vR-lYQcIdTG9XG-WMNPRhwTZOhc4iY_prAbgFlejAmnxJyjkQQmJkrfLbKORWk4UV6cXN5TBnvfEJdp/pub?output=csv")

head(plants)

### Q2: Filter Out Missing Heights

In [ ]:

plants_filtered <- plants %>%
  filter(!is.na(height_cm))

head(plants_filtered)

### Q3: Convert Height to Inches

In [ ]:

plants_filtered <- plants_filtered %>%
  mutate(height_in = height_cm / 2.54)

head(plants_filtered)

### Q4: Select Only Key Columns

In [ ]:

plants_filtered %>%
  select(name, height_in, toxicity_level)

### Q5: Arrange by Height

In [ ]:

plants_filtered %>%
  arrange(height_in)

### Q6: Convert 'type_num' from Character to Numeric

In [ ]:

plants_filtered <- plants_filtered %>%
  mutate(type_num = as.numeric(type_num))

str(plants_filtered)